<html>

<head>

    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
    <div class="contentRegistration">
        <div class="registration"></div>
        <form method="POST">
            </br>
            </br>
            </br>
            <a id="Current">First Name</a>
            </br>
            <input id="round" class="form-control" placeholder="Desired First Name" name="First_Name">
            </br>
            </br>
            <a>Last Name</a>
            </br>
            <input id="round" class="form-control" placeholder="Desired Last Name" name="Last_Name">
            </br>
            </br>
            <a>Username</a>
            </br>
            <input id="round" class="form-control" placeholder="Desired UserName" name="Username">
            </br>
            </br>
            <a>Password</a>
            </br>
            <input id="round" class="form-control" placeholder="Desired Password" name="Password" , type="Password">
            </br>
            </br>
            <input id="submit" type="Submit" class="btn btn-dark" value="Register">
            </br>
            </br>
            <input id="submit" type="Submit" class="btn btn-dark" value="Cancel">
        </form>
    </div>
    </div>
</body>

</html>