.content{
    position: absolute;
    top: 50%;
    left: 50%;
    
    font-family: 'Lexend Deca'; font-size: 80px;
    transform: translate(-50%, -50%);
    
    
    padding: 5px;
    text-align: center;
    width: 50%;
    border: 0px solid black;
    border-radius: 25px;
    
    background: rgba(0, 0, 0, 0.6);
}
.contentRegistration{
    font-family: 'Lexend Deca';
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    padding: 5px;
    text-align: center;
    width: 50%;
    border: 0px solid black;
    border-radius: 25px;
    
    background: rgba(0, 0, 0, 0.6);
    color:rgb(251, 255, 251);
}
body{
    background-color: rgb(121, 225, 243);
}

.Home {
    text-align: center;
    font-family: 'Lexend Deca'; font-size: 80px;
    margin-bottom: 10px;
    color:rgb(134, 240, 134);
}
img {
    width: 150px;
    
}

.Box{
    margin: auto;
    text-align: center;
    font-family: 'Lexend Deca'; font-size: 16px;
    color:white;
    
}

#round {
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    width: 400px;
    height: 50px;
}

#submit {
    border-radius: 25px;
    color: white;
    background: rgb(4,71,174);
    padding: 20px;
    width: 400px;
    height: 50px;
}

#Register{
    color: rgb(0,123,255);
}

#color{
    color: rgb(0,123,255);
}

.registration{
    text-align: center;
    font-family: 'Lexend Deca'; font-size: 10px;
    margin-bottom: 10px;
    color:rgb(251, 255, 251);
}
#Current{
    text-size-adjust: 10px;
}